#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  color: red;
  /* font-size: 2em;
  font-weight: 500; */
  /* margin: 0.5em 0; */
}

.category {
  column-count: 2;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  border-left: 1px solid #ccc;
  padding-left: 20px;
  margin-left: 5px;
}

.list-item-container {
  border-right: 1px solid #ccc;
  padding-right: 20px;
  box-sizing: border-box;
}

.chakra-tabs__tab {
  color: #888;
}

.chakra-tabs__tab[data-selected] {
  color: #646cff;
}

/* .two-column-list li:last-child .list-item-container,
.two-column-list li:nth-last-child(2) .list-item-container {
  border-right: none;
} */
